/* Ini css */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
.banner {
  border: 1px solid;
  height: 578px;
  margin: 0px 50px;
  background-image: url("assets\Banner.jpg");
}

/* width: 100%; or any custom size */
/* height: 100%; */
/* object-fit: contain; */
